.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--glob-padding);
  background-color: #f8f9fa;
  min-height: 100vh;
}
.user__container {
  display: flex;
  align-items: center;
  margin: 50px;
}

.view__container {
  width: 100%;
  max-width: 1200px;
  margin: 30px;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  padding: 100px var(--glob-padding);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  background-color: #98a0a8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px var(--glob-padding);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

.nav__link {
  font-weight: 700;
  font-size: 25px;
  transition-duration: 800ms;
  color: #0a0a0a;
  margin-right: 20px;
}

.nav__link:not(:last-child) {
  margin-right: 20px;
}
.user__name {
  font-weight: 800;
  font-size: 35px;
  text-shadow: 0px 2px 1px rgba(107, 84, 102, 0.5);
  transition-duration: 800ms;
  color: #333; /* Gri închis */
  margin-right: auto; /* Plasare la începutul containerului */
}

.nav__link:hover,
.user__smile:hover,
.user__name:hover,
.active {
  margin-right: 20px;
  color: #555;
  text-shadow: 0px 2px 1px rgba(107, 84, 102, 0.5);
  font-weight: 800;
  transform: scale(1.1);
}

.user__link {
  font-weight: 700;
  font-size: 25px;
  transition-duration: 800ms;
  color: #333;
  margin-right: 20px;
}

.user__btn,
.form__btn {
  font-size: 15px;
  font-weight: 700;
  color: #333;
  padding: 5px;
  border: none;
  box-shadow: var(--btn__shadow);
  cursor: pointer;
  background-color: #ddd;
  border-radius: 5px;
  transition-duration: 800ms;
  margin-left: 20px; /* Plasare la sfârșitul containerului */
}

.user__btn:hover {
  transform: scale(1.1);
  background-color: #ccc;
}
.form__btn:hover {
  transform: scale(1.1);
  background-color: #ccc;
}

.home__linc {
  margin-left: 20px;
  font-weight: 800;
  font-size: 30px;
  transition-duration: var(--transition__duration);
  color: #333;
}
.home__linc:hover,
.active {
  margin-right: 20px;
  font-size: 35px;
  text-shadow: 0px 2px 1px rgba(178, 146, 171, 0.5);
  font-weight: 800;
  transform: scale(1.1);
}

.please {
  display: flex;
  justify-content: center;
  color: #555;
  font-size: 20px;
  font-weight: 700;
}

input {
  font-size: 20px;
  border: transparent;
  border-radius: 5px;
  box-shadow: var(--btn__shadow);
  color: #333;
  padding: 5px;
  transition: var(--transition__duration);
}
input:hover,
input:focus {
  border: 1px solid #666;
  transform: scale(1.1);
}

.item__name {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
